:root {
    --body-side: 200px;
    --body-top: 100px;
    --body-bottom: 50px;
}

body {
    margin: 0px;
    padding: 0px;
}

body, input.input {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
}

#body {
    margin: var(--body-top) var(--body-side) var(--body-bottom);
    padding: 20px;
    font-size: 16px;
}

/* input fields */

input, input:focus {
    height: 30px;
    padding: 3px 7px;

    border: 1px solid grey;
    border-radius: 5px;
    outline: none;

    font-size: 16px;

    transition: background-color 400ms, border-color 200ms;
}

input:not(:focus) {
    background-color: #f5f5f5;
    border-color: #ffffff;
}

input:hover {
    background-color: white;
    border-color: grey;
}

input:focus {
    border-color: #0366d6;
    box-shadow: 0 0 0 3px #b3d1f3;
    transition: box-shadow 100ms linear;
}

/* table-lists */

table {
    width: calc(100vw - var(--body-side)*2);
    border-collapse: collapse;
}

tr:first-child {
    border-top: white 1px solid;
}

tr:not(:first-child) {
    border-top: #d2d2d2 1px solid;
}

tr:hover {
    background-color: #f5f5f5;
}

tr:hover, tr:hover + tr {
    border-top: white 1px solid;
}

td {
    padding: 5px 15px;
}

td:not(:first-child) {
    text-align: right;
    width: 30px;
}